# Mini Project 3: Machine Learning for Prediction by Regression
In the file house-data.csv you will find data from the property market in King
County, USA.
Your task is to use the data for training a regression model that can be used for
prediction of prices of properties not listed in the file.

Consider cleaning, exploration, and feature engineering of the data before
using it for building a model.

In [1]:
#lets start by importing some of the librarys we need
import pandas as pd
import numpy as np
import os
import chardet

#lets set current_directory as working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

#Now we need to check the decoding of the file

with open('./data/house-data.csv', 'rb') as f:
    result = chardet.detect(f.read())

# Print the detected encoding
print(result['encoding'])

Current Working Directory: C:\Users\Alexander Michelsen\Python Projects\MP3
ascii

In [2]:
# Specify the ASCII encoding
df = pd.read_csv('./data/house-data.csv', encoding='ascii')

# lets take a quick peak at some of the data, to see what we have.
print(df.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [3]:
#lets see if any values are null
# count the missing values
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [4]:
#good, now lets check the shape and get a better picture of the data
df.shape

(21613, 21)

In [5]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [6]:
#so lets think about this data. the 0 in bedrooms seems odd (googled and its fine, they just do bedrooms differently than us) - data seems clean now.
#now maybe remove outliers - this next segement might not be needed at all - lets think about that later.
#all we care about is cost, so lets look at the outliers for that first:

In [7]:
# Define a function to remove outliers using z-score
def remove_outliers(df, threshold=3):
    z_scores = np.abs((df - df.mean()) / df.std())
    return df[(z_scores < threshold).all(axis=1)]
numerical_columns = df.select_dtypes(include=np.number).columns

# Remove outliers from numerical columns
df_no_outliers = remove_outliers(df[numerical_columns])

In [8]:
df_no_outliers.shape

(18702, 20)

In [9]:
#so it removed about 3000 outliers
#lets see what attributes matter the least - we will try with sklearn to see

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
import pandas as pd

df = df_no_outliers
# Split the data into features (X) and target variable (y)
y = df['price']
X = df.drop(columns=['price'])

#got an error, it might be that my data isnt clean enough, or i have a to few itterations or alpha(alpha is a tradeof with simplicity(higher number) and accuracy(lower)), heres a line to change it:

lasso = Lasso(alpha=5, max_iter=120000)  # Adjust alpha and max_iter

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit Linear Regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Fit Lasso Regression model
lasso = Lasso(alpha=0.1)  # Adjust alpha for regularization strength
lasso.fit(X_train, y_train)

# Get feature importance or coefficient values
lr_feature_importance = lr.coef_
lasso_feature_importance = lasso.coef_

# Print feature importance or coefficient values
print("Linear Regression Feature Importance:")
print(lr_feature_importance)
print("\nLasso Regression Feature Importance:")
print(lasso_feature_importance)

Linear Regression Feature Importance:
[-7.01171590e-07 -1.64530925e+04  2.82748993e+04  6.64441791e+01
  1.09276121e-01  2.97135750e+04 -3.27418093e-11  3.83711677e+04
  2.93471993e+04  8.38159876e+04  3.72905648e+01  2.91536143e+01
 -2.17351042e+03 -4.36557457e-11 -3.34417198e+02  5.69413368e+05
 -9.49540938e+04  4.29335652e+01 -1.23140791e+00]

Lasso Regression Feature Importance:
[-7.01197203e-07 -1.64528830e+04  2.82744721e+04  1.84971855e+02
  1.09268878e-01  2.97135514e+04  0.00000000e+00  3.83704987e+04
  2.93467781e+04  8.38163809e+04 -8.12373583e+01 -8.93733496e+01
 -2.17352756e+03  0.00000000e+00 -3.34400882e+02  5.69406762e+05
 -9.49418864e+04  4.29333000e+01 -1.23143559e+00]

C:\Users\Alexander Michelsen\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.916e+13, tolerance: 7.980e+10
  model = cd_fast.enet_coordinate_descent(

##